fastapi
uvicorn
google-adk>=0.7.0
litellm
sqlalchemy
python-multipart
python-dotenv
requests
pycryptodome
pydantic
ulid-py
tika
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
opentelemetry-exporter-otlp